site_name: cryptosniper
theme:
  name: material
  features:
  - navigation.instant
  - navigation.tracking
  - navigation.expand
  - toc.follow
  - toc.integrate
  - navigation.top
repo_url: https://github.com/blindgr2/cryptosniper/