# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build Binaries

on:
  push:
    branches-ignore: "dependabot/**"      

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - name: Export version to variable
      run: |
          export VERSION_STRING=$(cat package.json | jq '.version' -r | xargs printf "%s")
          echo "VERSION_STRING=$VERSION_STRING" >> $GITHUB_ENV
      shell: bash
    
    - run: sudo apt update && sudo apt install qemu binfmt-support qemu-user-static
    
    - run: update-binfmts --display
    
    - run: git clone https://github.com/xerub/ldid.git ldid && cd ldid && sudo ./make.sh && sudo install ldid /usr/local/bin && cd .. && rm -rf ldid && ldid
    
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    
    - name: Release
      uses: justincy/github-action-npm-release@2.0.2
      id: release
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - run: npm ci

    - run: npm run prepack && npm run pkg

    - name: Calculate SHA256 checksum
      if: ${{ steps.release.outputs.released == 'true' }}
      run: |
        for filename in cryptosniper-*; do shasum -a 256 ${filename} > ${filename}.sha256 ; done
      shell: bash
      working-directory: pkg

    - name: Release
      uses: softprops/action-gh-release@v1
      if: ${{ steps.release.outputs.released == 'true' }}
      with:
        files: |
          pkg/CryptoSniper-*
