# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on: push

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [17.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - run: sudo apt update && sudo apt install qemu binfmt-support qemu-user-static
    - run: update-binfmts --display
    - run: git clone https://github.com/xerub/ldid.git ldid && cd ldid && sudo ./make.sh && sudo install ldid /usr/local/bin && cd .. && rm -rf ldid && ldid
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run prepack && npm run pkg
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          pkg/defi-sniper-linux-arm64
          pkg/defi-sniper-linux-x64
          pkg/defi-sniper-macos-arm64
          pkg/defi-sniper-macos-x64
          pkg/defi-sniper-win-x64.exe
          
